.modalContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25rem;
  padding: 40px 20px;
  border-radius: 12px;
  background-color: #d1d5db;
}

.xButton {
  top: 8px;
  right: 20px;
}

.errorText {
  color: #b91c1c;
  text-align: center;
  width: 100%;
}

.saveButton {
  margin-top: 10px;
  width: 95%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --c:no-repeat linear-gradient(#fb6507 0 0);
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}

.loader:before {
  content:'';
  position: absolute;
  inset: 0;
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 0    100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l16 {
   33%  {inset:-4px;transform: rotate(0deg)}
   66%  {inset:-4px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}