.modalContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25rem;
  padding: 40px 20px;
  border-radius: 12px;
  background-color: #d1d5db;
}

.xButton {
  top: 8px;
  right: 20px;
}

.errorText {
  color: red;
  text-align: center;
  width: 100%;
}

.saveButton {
  margin-top: 10px;
  width: 95%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
